.video-screen {
  position:absolute;
  width:1920px;
  height: 1080px;
  background-color: rgb(139, 96, 96);
  background-color: transparent;
  background-color: hotpink;
  /* top:200px; */
}

.spinner-rotator {
  width: 2.5in;
  height: 3.5in;
  position:absolute;
  top:calc(50% - 1.75in);
  left: calc(50% - 1.25in);
  transform-origin: 50% 50%;
  animation-name: rotation;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-play-state: paused; */
}
@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-card {
  height:100%;
  width:100%;
  background-size: contain;
  border-radius: 16px;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0, -3.5in);
}

.spinner-holder.inner .spinner-rotator:nth-last-child(1) .spinner-card,
.spinner-holder.inner .spinner-rotator:nth-last-child(2) .spinner-card,
.spinner-holder.inner .spinner-rotator:nth-last-child(3) .spinner-card,
.spinner-holder.inner .spinner-rotator:nth-last-child(4) .spinner-card,
.spinner-holder.inner .spinner-rotator:nth-last-child(5) .spinner-card {  
  clip-path: polygon(100% -663px, 17% 92%, 100% 107%, 0 100%, 0 0);
}



@keyframes slideout {
  0% { transform:translate(0, 0) }
}
.spinner-holder.outer .spinner-rotator {
  animation-direction: reverse;
}
.spinner-holder.outer .spinner-card {
  transform: translate(0, -5in);
  animation: slideout 2s 1s ease backwards;
}

.spinner-holder.outer .spinner-rotator:nth-last-child(1) .spinner-card,
.spinner-holder.outer .spinner-rotator:nth-last-child(2) .spinner-card,
.spinner-holder.outer .spinner-rotator:nth-last-child(3) .spinner-card,
.spinner-holder.outer .spinner-rotator:nth-last-child(4) .spinner-card,
.spinner-holder.outer .spinner-rotator:nth-last-child(5) .spinner-card {   
   clip-path: polygon(43% 0, 100% 0, 100% 100%, 73% 100%);
}



.video-title {
  position: absolute;
  width: 100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity:0;
  animation: fadein 1s 1s forwards;
}
.video-title > div {
  text-align:right;
}

.video-title h1 {
  font-size: 128px;
  font-family: "Zain", sans-serif;
  text-shadow: 6px 6px 2px black;
  margin-bottom:0;
}
.video-title h2 {
  font-size: 64px;
  font-family: "Zain", sans-serif;
  text-shadow: 6px 6px 2px black;
  position:relative;
  display: inline;
  top: -32px;
  left: -8px;
}

.manasymbol {
  position:absolute;
  top:50%;
  left:50%;
  margin-left: -1080px;
  margin-top: -1080px;
  width:2160px;
  height:2160px;
  background-image: url(images/green-mana.png);
  background-size:contain;
  animation: shrinkdown 1s forwards;
  transform: scale(20%);
}

@keyframes shrinkdown {
  0% { transform: scale(100%); }
}

@keyframes fadein {
  100% { opacity: 1 }
}