@media screen {
  .print {
    border: 1px solid black;
  }
  .print.collected {
    background-color: rgba(30, 160, 10, 0.5);
  }
}

.prints {
  display: grid;
  grid-template-columns:
    repeat(auto-fill, minmax(10px, 256px) minmax(10px, 256px));
  max-width: 1024px;
  margin: 0px auto;
  justify-content: center;
}
.print {
  text-align: center;
  margin: 8px 0;
}

.print .front {
  width: 70%;
  border-radius: 12px;
  aspect-ratio: 2.5/3.5;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position:relative;
}

.print .front.finish-foil:after {
  content: "";
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: linear-gradient( 45deg, red 5%, orange 10%, yellow 30%, green 50%, blue 70%, indigo 80%, violet 95% );
  opacity: 0.3;
}

.controls {
  border: 1px dotted black;
  max-width: 600px;
  margin: 10px auto;
  padding: 12px;
  text-align: center;
}

.controls .forestlogo {
  height: 36px;
  margin: 2px 6px;
  vertical-align: bottom;
}

.subtitle {
  margin-top: -20px;
  font-size: smaller;
  font-style: italic;
}

.status {
  margin-top: 6px;
  white-space: pre-wrap;
}

.clipboardbtns {
  display: flex;
  justify-content: center;
}

.clipboardbtns > span {
  display: flex;
}

.clipboardbtns.visible > span {
  display: none;
}

.clipboardbtns > :not(span) {
  display: none;
}
.clipboardbtns.visible > :not(span) {
  display: flex;
}

button {
  border: 1px solid black;
  color: white;
  padding: 12px;
  border-radius: 0;
  background-color: rgba(10, 20, 200, 0.7);
  margin: 10px 8px;
}

button.activated {
  background-color: rgba(100, 20, 180, 0.7);
}

.scrollToTop {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: none;
}

.scrollToTop.visible {
  display: block;
}

.scrollToTop button {
  border-radius: 50px;
}
.sitecontrols {
  position: absolute;
  top: 0;
  right: 0;
  background-color: darkblue;
  border: 1px solid white;
}

@media screen and (max-width: 600px) {
  .sitecontrols {
    display: none;
  }
}
@media print {
  .sitecontrols {
    display: none;
  }

  .print {
    padding: 0 8px;
    break-inside: avoid;
  }
  .prints {
    grid-template-columns: 33% 33% 33%;
    width: 100%;
  }
  .print.collected {
    display: none;
  }
  .controls {
    display: none;
  }
}
@media screen {
  .darkmode {
    background-color: rgb(25, 25, 25);
    color: white;
  }
  .darkmode a {
    color: darkorange;
  }
  .darkmode a:visited {
    color: peru;
  }

  .darkmode .controls {
    border: 1px dotted white;
  }
  .darkmode button {
    border: 1px solid white;
  }

  .darkmode .print {
    border: 1px solid white;
  }
  .darkmode input {
    background-color: rgb(50, 50, 50);
    color: white;
  }
}
