@media screen {
  .print {
    border: 1px solid black;
  }
  .print.collected {
    background-color: rgba(30,160,10, 0.5);
  }
}

.prints {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1024px;
  margin: 0px auto;
}
.print {
  text-align:center;
  margin: 8px auto;
}

.print img {
  width: 70%;
  border-radius: 8px;
}

.controls {
  border: 1px dotted black;
  max-width: 600px;
  margin: 10px auto;
  padding: 12px;
  text-align:center;
}

.controls .forestlogo {
  height: 36px;
  margin: 2px 6px;
  vertical-align: bottom;
}

.status {
  white-space: pre-wrap;
}

.clipboardbtns {
  display: flex;
  justify-content: center;
}

button {
  border: 1px solid black;
  color: white;
  padding: 12px;
  border-radius: 0;
  background-color: rgba(10, 20, 200, 0.7);
  margin: 10px 8px;
}

button.activated {
  background-color: rgba(100, 20, 180, 0.7);
}


.sitecontrols {
  position: fixed;
  top: 0;
  right: 0;
  background-color: darkblue;
  border: 1px solid white;
}

@media screen and (max-width: 600px) {
  .sitecontrols {
    display: none;
  }
}
@media print {

  .sitecontrols {
    display: none;
  }

  .print {
    padding: 0 8px;
    break-inside:avoid;
  }
  .prints {
    grid-template-columns: 33% 33% 33%;
    width: 100%;
  }
  .print.collected {
    display: none;
  }
  .controls {
    display: none;
  }
}
@media screen {
  .darkmode {
    background-color: rgb(25, 25, 25);
    color: white;
  }
  .darkmode a:visited {
      color: lightpink;
  }

  .darkmode .controls {
    border: 1px dotted white;
  }
  .darkmode button {
    border: 1px solid white;
  }

  .darkmode .print {
    border: 1px solid white;
  }
  .darkmode input {
    background-color: rgb(50,50,50);
    color: white;
  }
}